# Add any directories, files, or patterns you don't want to be tracked by version control
node_modules
tf-files
assets
gulpfile.js
package.json
package-lock.json
.sass-cache/
css/maps
*.css.map
*.sass.map
*.scss.map
.vscode
temp