.btn,
button {
	padding: 10px 20px;
	border-radius: 5px;
	border: 0;
	color: $buttonLightColor;
	background: $buttonLightBgColor;

	&:hover,
	&:focus,
	&:active {
		color: $buttonLightHoverColor;
		background: $buttonLightHoverBgColor;
		box-shadow: 0 0 0 transparent;
	}

	&.dark {
		color: $buttonDarkColor;
		background: $buttonDarkBgColor;

		&:hover,
		&:focus,
		&:active {
			color: $buttonDarkHoverColor;
			background: $buttonDarkHoverBgColor;
		}
	}

	&.btn-submit .fa {
		margin: 0 10px 0 0;
	}

	&.btn-transparent {
		background: $buttonTransparentBgColor;
		border: 2px solid $buttonTransparentBdrColor;
		border-radius: 3px;

		&:hover {
			background: $buttonTransparentHoverBgColor;
		}
	}

	&.btn-transparent-banner {
		background: $buttonTransparentBgColor;
		border: 1px solid #FFF;
		padding: 12px 35px;
		font-size: 16px;
		position: relative;

		&:after,
		&:before {
			content: "";
			position: absolute;
			width: 100%;
			left: 0;
		}

		&:before {
			right: 0;
		}

		&:hover {
			color: #FFF;
			box-shadow: inset 0px 2px 23px #FFF;
		}
	}

	&.btn-white {
		background-color: #FFF;
		border: 2px solid #448aff;
		color: #448aff !important;

		&:hover {
			background: #448aff;
			color: #FFF !important;
		}
	}

	&.btn-custom {
		font-size: 17px;
		padding: 15px 35px;

	}
}