/*
Theme: Avanto Protfolio One Page Template
Author: Pradeep V
contact: vpradeep.velu@gmail.com
Version: 1.0.0
*/

@import "./base/base";
@import "./layout/layout";
@import "./components/components";
@import "./modules/moudles";