.sec-contact {
    &>div {
        *:not(div):last-child {
            margin: 0;
        }
    }

    &__info {
        font-weight: bold;
        font-size: 16px;

        a {
            color: #333333;
        }

        & .fa {
            font-size: 25px;
            margin: 0 0 15px;
            color: #f58e86;
        }
    }
}