/*
Theme: Avanto Protfolio One Page Design
Author: pradeep
contact: vpradeep.velu@gmail.com
Version: 1.0.0
File Description: Main css file
*/
body
{
  color: #333;
}

*
{
  outline: 0;
}

a,
.btn,
button,
input[type="submit"],
.fa
{
  transition: all .2s linear;
}

a
{
  color: #d57e77;
}

a:hover, a:focus
{
  color: #f58e86;
}

.navbar-brand
{
  font-family: Open Sans, sans-serif;
  font-size: 25px;
}

video
{
  width: 100%;
}

.fixed-nav-bg
{
  background: #FFF;
  border-bottom: 1px solid #DADADA;
}

label
{
  font-weight: 500;
}

input[type="text"],
textarea
{
  background: transparent;
  border: 1px solid #ccc;
  width: 100%;
  margin: 0 0 10px;
  font-weight: normal;
  padding: 5px;
  resize: none;
}

input[type="submit"]
{
  padding: 7px 25px;
}

.content-overlay
{
  position: absolute;
  background: #333;
  width: 100%;
  top: 0;
  border: 0;
  z-index: 0;
  height: 100%;
  opacity: .5;
}

.page-overlay
{
  position: fixed;
  display: block;
  z-index: 9;
  background: #333;
  width: 100%;
  top: 0;
  border: 0;
  height: 100%;
  opacity: .5;
}

p.txt-lg
{
  font-size: 17px;
  margin: 0 0 25px;
  line-height: 27px;
}

.seperator
{
  padding: 0 5px;
}

.icon-list li
{
  margin: 0 0 10px 25px;
  line-height: 20px;
}

.icon-list li:before
{
  content: "\f006";
  font-family: FontAwesome;
  float: left;
  margin-left: -18px;
}

.icon-list.icon-chevron li:before
{
  content: "\f054";
}

.icon-list.icon-check-circle li:before
{
  content: "\f058";
}

.social a .fa
{
  width: 30px;
  height: 30px;
  font-size: 17px;
  line-height: 30px;
  color: #FFF;
  border-radius: 50%;
}

.social a .fa.facebook
{
  background: #3b5999;
}

.social a .fa.twitter
{
  background: #55acee;
}

.social a .fa.google-plus
{
  background: #dd4b39;
}

.social a .fa.linkedin
{
  background: #0077B5;
}

.social a .fa.pinterest
{
  background: #bd081c;
}

.social a:hover .fa
{
  color: #FFF;
  background: #d57e77;
  border-color: transparent;
  box-shadow: 1px 4px 7px #868686;
}

.br-line:after,
.br-sec-line:after
{
  content: "";
  width: 50px;
  display: block;
  border-bottom: 1px solid;
  text-align: center;
  margin: 0px auto;
  padding: 15px 0 0 0;
}

.br-line.br-line-left:after,
.br-sec-line.br-line-left:after
{
  margin: 0;
}

.br-sec-line:after
{
  width: 50%;
  border-color: #f1f2f3;
  border-width: 2px;
}

img.align-left
{
  float: left;
  margin: 0 20px 20px 0;
}

img.align-right
{
  float: left;
  margin: 0 0px 20px 20px;
}

img.full-size
{
  width: 100%;
  margin: 0 0 15px;
  height: auto;
}

.circle-icon
{
  width: 80px;
  height: 80px;
  margin: 0 auto 20px;
  border-radius: 100%;
  line-height: 80px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}

.circle-icon .fa-circle-icon
{
  font-size: 60px;
  line-height: inherit;
}

.content-overlay_before:before, .content-overlay_after:after
{
  content: "";
  position: absolute;
  background: #333;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  opacity: .9;
}

@media only screen and (max-width: 999px)
{
  .btn,
  .button,
  button.sss,
  button
  {
    padding: 5px 15px;
    font-size: 14px;
  }

  h2,
  .h2
  {
    font-size: 25px;
  }

  .breadcrumb
  {
    display: none;
  }

  .page-title
  {
    font-size: 25px;
  }

  .circle-icon
  {
    width: 70px;
    height: 70px;
    margin: 0 auto 10px;
    line-height: 70px;
  }

  .circle-icon .fa-circle-icon
  {
    font-size: 40px;
  }

  video
  {
    display: none;
  }
}

.btn,
button
{
  padding: 10px 20px;
  border-radius: 5px;
  border: 0;
  color: #FFF;
  background: #f58e86;
}

.btn:hover, .btn:focus, .btn:active,
  button:hover,
  button:focus,
  button:active
{
  color: #FFF;
  background: #d57e77;
  box-shadow: 0 0 0 transparent;
}

.btn.dark,
  button.dark
{
  color: #FFF;
  background: #d57e77;
}

.btn.dark:hover, .btn.dark:focus, .btn.dark:active,
    button.dark:hover,
    button.dark:focus,
    button.dark:active
{
  color: #FFF;
  background: #f58e86;
}

.btn.btn-submit .fa,
  button.btn-submit .fa
{
  margin: 0 10px 0 0;
}

.btn.btn-transparent,
  button.btn-transparent
{
  background: transparent;
  border: 2px solid #d57e77;
  border-radius: 3px;
}

.btn.btn-transparent:hover,
    button.btn-transparent:hover
{
  background: #f58e86;
}

.btn.btn-transparent-banner,
  button.btn-transparent-banner
{
  background: transparent;
  border: 1px solid #FFF;
  padding: 12px 35px;
  font-size: 16px;
  position: relative;
}

.btn.btn-transparent-banner:after, .btn.btn-transparent-banner:before,
    button.btn-transparent-banner:after,
    button.btn-transparent-banner:before
{
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
}

.btn.btn-transparent-banner:before,
    button.btn-transparent-banner:before
{
  right: 0;
}

.btn.btn-transparent-banner:hover,
    button.btn-transparent-banner:hover
{
  color: #FFF;
  box-shadow: inset 0px 2px 23px #FFF;
}

.btn.btn-white,
  button.btn-white
{
  background-color: #FFF;
  border: 2px solid #448aff;
  color: #448aff !important;
}

.btn.btn-white:hover,
    button.btn-white:hover
{
  background: #448aff;
  color: #FFF !important;
}

.btn.btn-custom,
  button.btn-custom
{
  font-size: 17px;
  padding: 15px 35px;
}

body
{
  font-family: Open Sans, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6
{
  margin: 0;
  padding: 0 0 15px;
  font-weight: 600;
  font-family: Open Sans, sans-serif;
}

h2
{
  font-size: calc(30px + (40 - 30) * ((100vw - 350px) / (1600 - 350)));
}

.navbar-brand
{
  font-family: "Josefin Sans", sans-serif;
}

.banner .banner-content h2,
.banner .banner-content h3
{
  font-family: Merienda, Open Sans, sans-serif;
  font-size: calc(35px + (45 - 35) * ((100vw - 350px) / (1600 - 350)));
  padding: 0 0 35px;
}

.banner .banner-content h3
{
  font-size: calc(30px + (40 - 30) * ((100vw - 350px) / (1600 - 350)));
}

p
{
  line-height: 30px;
  font-size: 16px;
}

.sec-title
{
  font-family: Merienda, Source Sans Pro, sans-serif;
  text-align: center;
  font-weight: 400;
}

.parallax
{
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed !important;
  background-size: cover;
  padding: 50px 0;
}

@media only screen and (max-width: 999px)
{
  .parallax
  {
    padding: 45px 0;
  }
}

.navbar .navbar-brand
{
  z-index: 99;
  color: #FFF;
}

.navbar .navbar-brand:hover, .navbar .navbar-brand:focus
{
  color: #f58e86 !important;
}

.navbar .navbar-nav
{
  flex-direction: row;
}

.navbar .navbar-nav .nav-item .nav-link
{
  padding: .5rem 1rem;
  text-transform: uppercase;
  color: #FFF;
}

.navbar .navbar-nav .nav-item .nav-link.active
{
  color: #f58e86 !important;
}

.navbar .navbar-nav .nav-item:hover .nav-link
{
  color: #f58e86;
}

.navbar .navbar-nav .nav-item.brand-nav-link, .navbar .navbar-nav .nav-item.brand-nav-link:hover,
  .navbar .navbar-nav .nav-item.brand-nav-link:hover a,
  .navbar .navbar-nav .nav-item.brand-nav-link a,
  .navbar .navbar-nav .nav-item.brand-nav-link a:focus,
  .navbar .navbar-nav .nav-item.brand-nav-link a.active
{
  background: #000;
  color: #f58e86 !important;
}

.navbar .navbar-toggler
{
  border: 0;
  outline: 0;
  position: relative;
  height: 30px;
  width: 30px;
  padding: 0;
  cursor: pointer;
  box-shadow: 0 0 0;
  z-index: 9;
  margin-left: auto;
}

.navbar .navbar-toggler span.hamburger
{
  position: absolute;
  height: 3px;
  background: #fff;
  display: inline-block;
  width: 100%;
  transition: all .2s linear;
  left: 0;
  border-radius: 3px;
}

.navbar .navbar-toggler span.hamburger:after, .navbar .navbar-toggler span.hamburger:before
{
  position: absolute;
  content: "";
  height: 3px;
  z-index: 9999999;
  top: 10px;
  display: inline-block;
  width: 100%;
  left: 0;
  background: #fff;
  transition: all .2s linear;
  border-radius: 3px;
}

.navbar .navbar-toggler span.hamburger:before
{
  top: -10px;
}

.menu-open .navbar .navbar-toggler span.hamburger
{
  height: 0;
}

.menu-open .navbar .navbar-toggler span.hamburger:after, .menu-open .navbar .navbar-toggler span.hamburger:before
{
  top: 0px;
  transform: rotate(45deg);
}

.menu-open .navbar .navbar-toggler span.hamburger:after
{
  transform: rotate(-45deg);
}

.fixed-nav-bg .navbar .navbar-brand
{
  z-index: 99;
  color: #000;
}

.fixed-nav-bg .navbar span.hamburger
{
  background-color: #333;
}

.fixed-nav-bg .navbar span.hamburger:after, .fixed-nav-bg .navbar span.hamburger:before
{
  background-color: #333;
}

@media screen and (min-width: 768px)
{
  .navbar.navbar-light .navbar-nav .nav-item .nav-link
  {
    font-weight: 400;
  }

  .navbar.navbar-light .navbar-nav .nav-item:hover .nav-link
  {
    background-color: transparent;
  }

  .fixed-nav-bg .navbar .navbar-nav .nav-item .nav-link
  {
    color: #000;
  }

  .fixed-nav-bg .navbar .navbar-nav .nav-item:hover .nav-link
  {
    color: #f58e86;
  }
}

@media screen and (max-width: 992px)
{
  .navbar .navbar-toggler-close
  {
    display: none;
    font-size: 2rem;
  }

  .navbar .navbar-toggler-icon
  {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

  .navbar .navbar-toggler-close
  {
    color: #CCC !important;
  }

  body.menu-open .navbar .navbar-toggler-close
  {
    display: inline-block;
    width: 1.2rem;
    color: #000;
  }

  body.menu-open .navbar .navbar-toggler-icon
  {
    display: none;
  }

  .navbar .navbar-toggler
  {
    display: block;
    border: 0;
    z-index: 9;
    cursor: pointer;
  }

  .navbar .navbar-toggler:active, .navbar .navbar-toggler:hover, .navbar .navbar-toggler:focus
  {
    background: transparent;
    outline: 0;
  }

  .navbar .navbar-collapse
  {
    display: block;
    position: fixed;
    left: -200px;
    top: 0;
    border: 0;
    background: #F1F2F3;
    height: 100%;
    width: 200px;
    z-index: 9999;
    transition: all .2s linear;
  }

  .navbar .navbar-collapse .navbar-nav
  {
    flex-direction: column;
  }

  .navbar .navbar-collapse.show
  {
    display: block;
    left: 0;
  }

  .navbar .navbar-collapse.show .navbar-nav a:hover, .navbar .navbar-collapse.show .navbar-nav a:focus, .navbar .navbar-collapse.show .navbar-nav a:active
  {
    color: #f58e86;
  }

  .navbar .navbar-collapse.show .navbar-nav .nav-item
  {
    padding: 0;
  }

  .navbar .navbar-collapse.show .navbar-nav .nav-item .nav-link
  {
    padding: 7px 15px;
    border-bottom: 1px solid #e5e5e5;
    color: #000;
  }

  .navbar .navbar-collapse.show .parent-open > .dropdown-menu
  {
    display: block;
    float: none;
  }

  .fixed-nav-bg .navbar .navbar-toggler-icon
  {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
}

.banner
{
  min-height: 100vh;
  position: relative;
}

.banner:before
{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  right: 0;
  opacity: .7;
  background: #333;
}

.banner.banner-single, .banner.banner-particles, .banner.banner-video
{
  background: url(../images/banner2.jpg) no-repeat #8B8B8B;
  background-size: cover;
  min-height: 100vh;
  background-position: 70%;
}

.banner.banner-single.polygon-clip, .banner.banner-particles.polygon-clip, .banner.banner-video.polygon-clip
{
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0% 85%, 0 100%);
}

.banner.banner-video
{
  background-image: url(../videos/Traffic_disco.jpg);
}

.banner.banner-particles
{
  background-image: url(../videos/Traffic_disco.jpg);
}

.banner .banner-content
{
  top: 50%;
  left: 50%;
  width: 80%;
  margin: auto;
  text-align: center;
  position: absolute;
  color: #FFF;
  transform: translate(-50%, -50%);
}

.banner .banner-content h3
{
  font-weight: 400;
}

.banner .banner-content p
{
  width: 80%;
  margin: 0px auto 35px;
  font-size: 17px;
  display: none;
}

@media only screen and (max-width: 767px)
{
  .banner .banner-content p
  {
    width: 90%;
  }
}

.section
{
  margin: 0;
}

.section:first-child
{
  padding-top: 0;
}

.section .section-content
{
  padding: 50px 0;
}

.section .section-content .sec-title
{
  display: block;
  flex-basis: 100%;
  padding: 0 0 3px;
  margin-bottom: 50px;
  font-size: 35px;
  text-align: center;
}

@media only screen and (max-width: 420px)
{
  .section .section-content .sec-title
  {
    font-size: 25px;
  }
}

.section.sec-banner .section-content
{
  padding: 0;
}

.sec-about .sec-about__txt--name
{
  margin: 0;
  padding: 0 0 10px;
}

.sec-about .sec-about__txt--designation
{
  font-size: 20px;
}

.sec-about .sec-about__pic
{
  background-image: url(../images/profile-pic.jpg);
  background-size: cover;
  background-position: top center;
  min-height: 450px;
  height: 100%;
}

@media only screen and (max-width: 420px)
{
  .section.sec-about .sec-about__txt
  {
    text-align: center;
  }

  .section.sec-about .sec-about__pic img
  {
    margin-top: 0;
  }
}

.sec-education .section-content
{
  position: relative;
  padding: 50px;
  background: url(../images/education-bg.jpeg) #000;
  color: #FFF;
}

.sec-education .section-content .container
{
  position: relative;
}

.sec-education .sec-timeline.circle-vertical
{
  margin: 45px 0 0 0;
}

.sec-education .sec-timeline.circle-vertical .timeline
{
  list-style: none;
  margin: 0;
  padding: 0;
}

.sec-education .sec-timeline.circle-vertical .timeline:before
{
  content: "";
  position: absolute;
  left: 50%;
  width: 1px;
  top: 0;
  bottom: 10px;
  background: #444444;
}

.sec-education .sec-timeline.circle-vertical .timeline li
{
  width: 50%;
  float: left;
  clear: right;
  text-align: right;
  position: relative;
}

.sec-education .sec-timeline.circle-vertical .timeline li:not(:last-child)
{
  margin: 0 0 20px;
}

.sec-education .sec-timeline.circle-vertical .timeline li .timeline-badge
{
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 25px;
  text-align: center;
  right: -14px;
  font-size: 25px;
  color: #d57e77;
}

.sec-education .sec-timeline.circle-vertical .timeline li .timeline-panel
{
  width: calc(100% - 50px);
  position: relative;
  float: left;
}

.sec-education .sec-timeline.circle-vertical .timeline li .timeline-panel .timeline-content_title
{
  font-size: 20px;
  margin: 0;
  padding: 0;
  line-height: 25px;
  color: #ef3f3f;
}

.sec-education .sec-timeline.circle-vertical .timeline li .timeline-panel .timeline-content_year
{
  padding: 5px 0;
  margin: 0;
  font-weight: 400;
  font-size: 15px;
  color: #d57e77;
}

.sec-education .sec-timeline.circle-vertical .timeline li .timeline-panel .timeline-content_desc
{
  font-size: 15px;
  margin: 0;
  line-height: 20px;
  color: #bbbbbb;
}

.sec-education .sec-timeline.circle-vertical .timeline li.timeline-invert
{
  float: right;
  clear: left;
  text-align: left;
}

.sec-education .sec-timeline.circle-vertical .timeline li.timeline-invert .timeline-badge
{
  left: -11px;
}

.sec-education .sec-timeline.circle-vertical .timeline li.timeline-invert .timeline-panel
{
  float: right;
}

.sec-education .sec-timeline.circle-vertical .timeline li.timeline-invert .timeline-panel:before
{
  border-right: 15px solid #ccc;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  left: -15px;
  border-left: 0;
  right: auto;
}

@media only screen and (max-width: 767px)
{
  .sec-education .sec-timeline.circle-vertical .timeline
  {
    background: #555;
  }

  .sec-education .sec-timeline.circle-vertical .timeline:before
  {
    left: 20px;
  }

  .sec-education .sec-timeline.circle-vertical .timeline li
  {
    width: 100%;
    text-align: left;
  }

  .sec-education .sec-timeline.circle-vertical .timeline li.timeline-invert
  {
    margin-top: 0;
  }

  .sec-education .sec-timeline.circle-vertical .timeline li .timeline-badge
  {
    left: -7px !important;
  }

  .sec-education .sec-timeline.circle-vertical .timeline li .timeline-panel
  {
    float: right;
  }

  .sec-education .sec-timeline.circle-vertical .timeline li .timeline-panel:before
  {
    border-right: 15px solid #ccc;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    left: -15px;
    border-left: 0;
    right: auto;
  }
}

@media only screen and (max-width: 569px)
{
  .sec-education .sec-timeline.circle-vertical .timeline
  {
    background: #555;
  }

  .sec-education .sec-timeline.circle-vertical .timeline:before
  {
    left: 30px;
  }

  .sec-education .sec-timeline.circle-vertical .timeline li
  {
    width: 100%;
  }

  .sec-education .sec-timeline.circle-vertical .timeline li.timeline-invert
  {
    margin-top: 0;
  }

  .sec-education .sec-timeline.circle-vertical .timeline li .timeline-badge
  {
    left: 4px !important;
  }

  .sec-education .sec-timeline.circle-vertical .timeline li .timeline-panel
  {
    float: right;
    width: calc(100% - 50px);
  }

  .sec-education .sec-timeline.circle-vertical .timeline li .timeline-panel:before
  {
    border-right: 10px solid #ccc !important;
    border-top: 10px solid transparent !important;
    border-bottom: 10px solid transparent !important;
    left: -10px !important;
    border-left: 0;
    right: auto;
  }

  .sec-education .sec-timeline.circle-vertical .timeline li .timeline-panel .timeline-content_title
  {
    font-size: 18px;
  }
}

.sec-skils .skill-wraapper
{
  background: #333 url(../images/skils-bg.jpeg);
  background-size: cover;
  color: #ffffff;
  padding: 60px 0;
  position: relative;
}

.sec-skils .skill-wraapper .skill-content
{
  align-items: center;
}

.sec-skils .sec-progressbar .progress-bars .bg-nodejs
{
  background-color: #3C873A;
}

.sec-skils .sec-progressbar .progress-bars .bg-angular
{
  background-color: #b52e31;
}

.sec-skils .sec-progressbar .progress-bars .bg-js
{
  background-color: #f0db4f;
}

.sec-skils .sec-progressbar .progress-bars .bg-adobeillus
{
  background-color: #fbb034;
}

.sec-skils .sec-progressbar .progress-bars .bg-photoshop
{
  background-color: #00a4e4;
}

.sec-skils .sec-progressbar .progress-bars .bg-php
{
  background-color: #4f5b93;
}

.sec-skils .sec-progressbar .progress-bars .bg-html
{
  background-color: #e34f26;
}

.sec-skils .sec-progressbar .progress-bars .bg-css
{
  background-color: #34a7ea;
}

.sec-skils .sec-progressbar .progress-bars .progress
{
  overflow: visible;
  height: .5rem;
}

.sec-skils .sec-progressbar .progress-bars .progress:not(:last-child)
{
  margin-bottom: 3rem;
}

.sec-skils .sec-progressbar .progress-bars .progress .progress-bar
{
  flex-direction: row;
  position: relative;
  transition: width 2s ease;
  width: 0%;
  border-radius: 3px;
}

.sec-skils .sec-progressbar .progress-bars .progress .progress-bar span
{
  padding: 0 7px;
  flex-basis: 100%;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  font-weight: 400;
  position: absolute;
  left: 0;
  color: #ccc;
  top: -20px;
}

.sec-skils .sec-progressbar .progress-bars .progress .progress-bar span.percentage
{
  right: 0;
  padding-right: 0;
}

@media only screen and (max-width: 767px)
{
  #progress_bar
  {
    margin: 20px 0 0 0;
  }

  .progress-bars:first-child
  {
    margin-bottom: 35px;
  }

  .skill-content p
  {
    text-align: center;
  }
}

@media only screen and (max-width: 992px)
{
  .skill-content p
  {
    text-align: center;
    margin-bottom: 30px;
  }
}

svg.circle-progress
{
  height: 75px;
  transform: rotate(-90deg);
  width: 100%;
  margin-bottom: 25px;
}

.progress-bar__background
{
  fill: none;
  stroke: #e2eff0;
  stroke-width: 2;
  opacity: .2;
}

.progress-bar__progress
{
  fill: none;
  stroke: #e2eff0;
  stroke: #78bec7;
  stroke-dasharray: 88 88;
  stroke-dashoffset: 88;
  stroke-linecap: round;
  stroke-width: 2;
  transition: stroke-dashoffset 1s ease-in-out;
}

.skils
{
  position: relative;
}

.skils.html circle
{
  stroke: #e34f26;
}

.skils.nodejs circle
{
  stroke: #3C873A;
}

.skils.angular circle
{
  stroke: #b52e31;
}

.skils.js circle
{
  stroke: #f0db4f;
}

.skils.illustrator circle
{
  stroke: #fbb034;
}

.skils.photoshop circle
{
  stroke: #00a4e4;
}

.skils.php circle
{
  stroke: #4f5b93;
}

.skils.html circle
{
  stroke: #e34f26;
}

.skils.css circle
{
  stroke: #34a7ea;
}

.skils .skil-name
{
  position: relative;
  width: 100%;
  font-weight: 400;
}

.skils .skil-name .skil-percentage
{
  display: block;
  position: absolute;
  top: 53px;
  width: 100%;
  font-size: 15px;
}

.sec-countdown
{
  background: url(../images/work-completed-bg.jpg) #f2f3f4;
  padding: 70px 0 40px 0;
  position: relative;
  background-size: 100%;
  color: #FFF;
}

.sec-countdown .content-overlay
{
  opacity: .9;
}

.sec-countdown h2
{
  position: relative;
}

.sec-countdown h3
{
  font-size: 20px;
  margin: 10px 0 0 0px;
  padding: 0px;
  position: relative;
  font-weight: 400;
  text-transform: uppercase;
}

.sec-countdown .sec-countdown__item
{
  margin: 0 0 30px;
}

.sec-countdown .sec-countdown__icon
{
  background: transparent;
  color: #fff;
  margin-bottom: 15px;
}

.sec-countdown .sec-countdown_count
{
  font-size: 25px;
  line-height: 25px;
  margin: 0 0 7px;
}

@media only screen and (max-width: 450px)
{
  .sec-countdown .sec-countdown__item
  {
    margin: 0 0 30px;
  }

  .sec-countdown .sec-countdown__icon
  {
    margin-bottom: 0px;
  }

  .sec-countdown .sec-countdown_count
  {
    font-size: 20px;
    margin: 0 0 0px;
  }

  .sec-countdown h3
  {
    font-size: 15px;
  }
}

.sec-ourwork .sec-ourwork-controls
{
  padding: 0 0 15px;
}

.sec-ourwork .sec-ourwork-controls button
{
  margin: 10px 5px;
  text-transform: uppercase;
}

.sec-ourwork .mix
{
  text-align: left;
  padding: 1px;
  display: none;
}

.sec-ourwork .work-filter li
{
  margin: 0 !important;
}

.sec-ourwork .work-filter li a
{
  cursor: pointer;
  padding: 6px 20px;
  line-height: 25px;
  display: inline-block;
  border-radius: 5px;
}

@media only screen and (max-width: 767px)
{
  .sec-ourwork .work-filter li a
  {
    padding: 6px 15px;
  }
}

.sec-ourwork .work-filter li a.active, .sec-ourwork .work-filter li a:hover, .sec-ourwork .work-filter li a:focus
{
  background: #f58e86;
  color: #ffffff;
}

.sec-ourwork .work-filter li:not(:last-child):after
{
  content: "/";
  padding: 0 20px;
}

@media only screen and (max-width: 767px)
{
  .sec-ourwork .work-filter li:not(:last-child):after
  {
    padding: 0 6px;
  }
}

.sec-ourwork .sec-ourwork-content
{
  overflow: hidden;
  position: relative;
}

.sec-ourwork .sec-ourwork-content:hover .sec-ourwork-overlay
{
  transform: scaleY(1);
}

.sec-ourwork .sec-ourwork-content:hover .sec-ourwork-overlay:before
{
  opacity: .5;
}

.sec-ourwork .sec-ourwork-content:hover .sec-ourwork__pic
{
  transform: scale(1.1);
}

.sec-ourwork .sec-ourwork-overlay
{
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  top: 0;
  bottom: 0;
  transform: scaleY(0);
  transform-origin: center;
  transition: transform 0.26s ease;
}

.sec-ourwork .sec-ourwork-overlay:before
{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  content: "";
  background: #333;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

.sec-ourwork .sec-ourwork__des
{
  text-align: left;
  color: #FFF;
  font-size: 20px;
  z-index: 9;
  position: relative;
  height: 100%;
}

.sec-ourwork .sec-ourwork__des h4
{
  font-size: 20px;
  padding: 20px 10px;
  margin: 0px;
  font-weight: 400;
}

.sec-ourwork .sec-ourwork__des .fa
{
  bottom: 15px;
  right: 15px;
  position: absolute;
}

.sec-ourwork .sec-ourwork__pic
{
  width: 100%;
  transition: all .2s linear;
}

@media only screen and (max-width: 767px)
{
  .sec-ourwork-overlay
  {
    transform: scaleY(1);
  }

  .sec-ourwork__des h4
  {
    padding: 10px;
    font-size: 13px;
    font-weight: normal;
  }
}

.sec-services .sec-services__icon
{
  color: #f58e86;
}

.sec-services .sec-services__text
{
  margin: 0 0 20px;
}

.sec-services .sec-services__img img
{
  width: 100%;
}

.sec-services .sec-services__item
{
  margin: 0 0 0px;
}

.sec-services h3
{
  font-size: calc(16px + (21 - 16) * ((100vw - 350px) / (1600 - 350)));
  text-transform: uppercase;
}

.sec-services .sec-service_content .fa-html5
{
  color: #ff7f50;
}

.sec-services .sec-service_content .fa-laptop
{
  color: #166696;
}

.sec-services .sec-service_content .fa-cogs
{
  color: #855ac5;
}

.sec-services .sec-service_content .fa-rocket
{
  color: #82c55a;
}

.sec-services .btn
{
  background: #f1f2f3;
  border: 1px solid #ccc;
  color: #333;
  line-height: 20px;
  font-size: 15px;
  box-shadow: 0px 0px 0;
}

.sec-services .btn:hover
{
  box-shadow: 0px 3px 6px #d9dadc;
}

@media only screen and (max-width: 992px)
{
  .sec-services
  {
    margin: 0px;
  }
}

.post-entry
{
  margin: 0 0 0px;
}

.post-entry .card-title
{
  font-size: 25px;
  font-weight: 400;
  line-height: 28px;
  padding: 0;
  margin: 0 0 10px;
  font-family: Open Sans, sans-serif;
}

@media only screen and (max-width: 992px)
{
  .post-entry
  {
    margin: 0 0 30px;
  }

  .post-entry:last-child
  {
    margin-bottom: 0px;
  }
}

.sec-contact > div *:not(div):last-child
{
  margin: 0;
}

.sec-contact__info
{
  font-weight: bold;
  font-size: 16px;
}

.sec-contact__info a
{
  color: #333333;
}

.sec-contact__info .fa
{
  font-size: 25px;
  margin: 0 0 15px;
  color: #f58e86;
}

.sec-footer
{
  background: #f1f2f3;
  border-top: 1px solid #ccc;
  padding: 20px 0;
}

.sec-footer .sec-footer__links-col,
  .sec-footer .sec-footer__social
{
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 0;
}

@media only screen and (max-width: 500px)
{
  .sec-footer .sec-footer__links-col,
      .sec-footer .sec-footer__social
  {
    margin-bottom: 30px;
  }
}

.sec-footer .navbar .navbar-nav
{
  flex-direction: column;
}

.sec-footer .navbar .navbar-nav li
{
  float: none;
  line-height: 27px;
}

.sec-footer .navbar .navbar-nav li:hover
{
  background-color: transparent;
}

.sec-footer .navbar .navbar-nav li a
{
  padding: 7px;
  color: #333;
}

.sec-footer .navbar .navbar-nav.social
{
  flex-direction: row;
}

.sec-footer .navbar .navbar-nav.social li
{
  text-align: center;
  background: #f1f2f3;
  margin: 0 10px 0 0;
  border-radius: 50%;
  float: left;
}

.sec-footer .navbar .navbar-nav.social li a
{
  padding: 0;
}

.sec-footer .navbar .navbar-nav.social li .fa
{
  margin: 0px;
}

.sec-footer .fa
{
  margin: 0 7px 0 0;
}

.sec-footer h4
{
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  padding: 0 0 15px;
}

@media only screen and (max-width: 500px)
{
  .sec-footer h4
  {
    padding-bottom: 0;
  }
}

.sec-footer .address
{
  display: flex;
}

.sec-footer .address .fa
{
  top: 5px;
  position: relative;
}

.sec-copyright
{
  background: #434241;
  line-height: 50px;
  color: #f1f2f3;
  font-size: 13px;
}

.ie-warning
{
  background: #333;
}

.ie-warning .ie-warning_msg
{
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: #333;
}

.ie-warning .ie-warning_msg .ie-warning_content
{
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 18em;
  text-align: center;
  margin-top: -9em;
      /*set to a negative number 1/2 of your height*/
  margin-left: -20em;
      /*set to a negative number 1/2 of your width*/
  color: #FFF;
}

.ie-warning .ie-warning_msg .ie-warning_content h2
{
  font-size: 45px;
  margin: 0;
  padding: 0 0 10px;
}

/*# sourceMappingURL=../../css/maps/style.css.map */
